<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">GoTime</h3>
          <ul class="nav masthead-nav">
            <% if current_user %>
              <li class="active"><%= link_to "Sign Out", signout_path %></li>
            <% else %>
              <li class="active"><%= link_to "Sign In", "/auth/google_oauth2" %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">GoTime</h1>
        <p class="lead">Take your time with you wherever you go.</p>
        <% if current_user && user_authorized? %>
          <p class="lead"><%= link_to "Unauthorize", unauthorize_path, class:"btn btn-lg btn-default" %></p>
        <% elsif current_user%>
          <p class="lead"><form class="form-inline" role="form">
            <%= form_tag("/authorize", method: "post") do %>
              <%= text_field_tag(:address, '', placeholder: "Enter your address", class: "form-control input-lg") %>
              <%= submit_tag("Authorize", class:"btn btn-lg btn-default") %>
            <% end %>
            </p>
        <% else %>
          <p class="lead"><%= link_to "Sign In", "/auth/google_oauth2", class:"btn btn-lg btn-default" %></p>
        <% end %>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>A Zach Karst and Alexander Frankel Production.</p>
        </div>
      </div>

    </div>
  </div>
</div>